---
import Card from "@components/Card";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
// import { SOCIALS } from "@config";
import Layout from "@layouts/Layout.astro";
import {
  ArrowRight,
  File,
  GithubLogo,
  MagnifyingGlass,
  Moon,
  Sun,
} from "@phosphor-icons/react";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
// const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

// const socialCount = SOCIALS.filter(social => social.active).length;
const ICON_SIZE = "1rem";
const ICON_CLASS = "mb-1 mr-1";
---

<Layout>
  <div
    class="mx-a grid-rows-main md:mt-12 md:grid-cols-main grid justify-center"
  >
    <nav class="max-md:m-4 max-md:flex md:mr-8">
      <div
        class="max-md:mr-4 md:mb-4 md:mt-4 md:w-full md:rounded-xl w-24 overflow-clip rounded-md bg-[#9e8e60] bg-gradient-to-r from-[#756a50] to-[#b19a74]"
      >
        <img
          src="/profile.jpeg"
          alt="Portrait photo of Ryan Slama"
          class="day-only transition-all ease-in-out hover:scale-105"
        />
        <img
          src="/profile-night.webp"
          alt="Portrait photo of Ryan Slama"
          class="night-only transition-all ease-in-out hover:scale-105"
        />
      </div>
      <ul class="flex flex-col place-content-evenly items-stretch">
        <li>
          <LinkButton
            href="https://GitHub.com/Glitched"
            className="focus-outline"
            ariaLabel="github"
            title="GitHub"
          >
            <GithubLogo size={ICON_SIZE} className={ICON_CLASS} />
            <span>GitHub</span>
          </LinkButton>
        </li>

        <li>
          <LinkButton
            href="/search"
            className="focus-outline"
            ariaLabel="search"
            title="Search"
          >
            <MagnifyingGlass size={ICON_SIZE} className={ICON_CLASS} />
            <span>Search</span>
            <span class="text-skin-card float-right ml-2">⌘K</span>
          </LinkButton>
        </li>

        <li>
          <LinkButton
            href="Ryan Slama - Resume.pdf"
            className="focus-outline"
            ariaLabel="resume"
            title="Resume"
          >
            <File size={ICON_SIZE} className={ICON_CLASS} />
            <span>Resume</span>
          </LinkButton>
        </li>
        <li class="theme-btn">
          <LinkButton href="#" className="night-only" title="Day">
            <Sun size={ICON_SIZE} className={ICON_CLASS} />
            <span>Day</span>
          </LinkButton>
          <LinkButton href="#" className="day-only" title="Night">
            <Moon size={ICON_SIZE} className={ICON_CLASS} />
            <span>Night</span>
          </LinkButton>
        </li>
      </ul>
    </nav>
    <main id="main-content">
      <section id="hero" class="pt-0">
        <div class="ml-auto">
          <h1>Hey, I'm Ryan</h1>
          <p class="text-skin-muted text-base antialiased">
            I’m a senior software engineer on Slack's Product Security
            Foundations team. I like weird music, modern board games, podcasts,
            and oxford commas.
          </p>
        </div>
      </section>
      <!-- {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
        </>
      )
    } -->

      <section id="recent-posts">
        <div class="ml-auto max-w-lg">
          <h2>Recent Posts</h2>
          <ul>
            {
              sortedPosts.map(
                ({ data }, index) =>
                  index < 4 && (
                    <Card
                      href={`/posts/${slugify(data)}`}
                      frontmatter={data}
                      secHeading={false}
                    />
                  )
              )
            }
          </ul>
        </div>
        <div class="all-posts-btn-wrapper">
          <LinkButton href="/posts">
            All Posts
            <ArrowRight size={ICON_SIZE} className="mb-1" />
          </LinkButton>
        </div>
      </section>
    </main>
  </div>

  <Footer />

  <style>
    /* ===== Hero Section ===== */
    #hero {
      @apply max-w-lg pb-6;
    }
    #hero h1 {
      @apply md:text-6xl inline-block text-3xl font-bold;
    }
    #hero .rss-link {
      @apply mb-6;
    }
    #hero .rss-icon {
      @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
    }
    #hero p {
      @apply my-2;
    }
    .social-wrapper {
      @apply mt-4 flex flex-col sm:flex-row sm:items-center;
    }
    .social-links {
      @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
    }

    /* ===== Featured & Recent Posts Sections ===== */
    #featured,
    #recent-posts {
      @apply max-w-lg pb-6;
    }
    #featured h2,
    #recent-posts h2 {
      @apply md:text-2xl text-lg font-semibold tracking-wide;
    }
    .all-posts-btn-wrapper {
      @apply my-8 text-center;
    }
  </style>
</Layout>
