---
import Card from "@components/Card";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
// import { SOCIALS } from "@config";
import Layout from "@layouts/Layout.astro";
import {
  ArrowRight,
  File,
  GithubLogo,
  MagnifyingGlass,
  Moon,
  Sun,
} from "@phosphor-icons/react";
import getSortedPosts from "@utils/getSortedPosts";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
// const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

// const socialCount = SOCIALS.filter(social => social.active).length;
const ICON_SIZE = "1rem";
const ICON_CLASS = "mb-1 mr-1";
---

<Layout>
  <div
    class="mx-a grid-rows-main grid justify-center md:mt-12 md:grid-cols-main"
  >
    <nav class="select-none max-md:m-4 max-md:flex md:mr-8">
      <div
        id="photo-bg"
        class="w-24 overflow-clip rounded-md bg-[#9e8e60] bg-gradient-to-r from-[#756a50] to-[#b19a74] max-md:mr-4 md:mb-4 md:mt-4 md:w-full md:rounded-xl"
      >
        <img
          src="/profile.jpeg"
          alt="Portrait of Ryan Slama during the day"
          class="day-only scale-105 transition-all duration-300 ease-spring hover:rotate-3 hover:scale-125"
        />
        <img
          src="/profile-night.webp"
          alt="Portrait of Ryan Slama at night"
          class="night-only scale-105 transition-all duration-300 ease-spring hover:rotate-3 hover:scale-125"
        />
      </div>
      <ul class="flex flex-col place-content-evenly items-stretch">
        <li>
          <LinkButton
            href="https://GitHub.com/Glitched"
            className="focus-outline"
            ariaLabel="github"
            title="GitHub"
          >
            <GithubLogo size={ICON_SIZE} className={ICON_CLASS} />
            <span>GitHub</span>
          </LinkButton>
        </li>

        <li>
          <LinkButton
            href="/search"
            className="focus-outline"
            ariaLabel="search"
            title="Search"
          >
            <MagnifyingGlass size={ICON_SIZE} className={ICON_CLASS} />
            <span>Search</span>
            <span class="float-right ml-2 text-skin-card">⌘K</span>
          </LinkButton>
        </li>

        <li>
          <LinkButton
            href="Ryan Slama - Resume.pdf"
            className="focus-outline"
            ariaLabel="resume"
            title="Resume"
          >
            <File size={ICON_SIZE} className={ICON_CLASS} />
            <span>Resume</span>
          </LinkButton>
        </li>
        <li class="theme-btn">
          <button class="night-only" title="Day">
            <Sun size={ICON_SIZE} className={ICON_CLASS} />
            <span>Day</span>
          </button>
          <button class="day-only" title="Night">
            <Moon size={ICON_SIZE} className={ICON_CLASS} />
            <span>Night</span>
          </button>
        </li>
      </ul>
    </nav>
    <main id="main-content">
      <section id="hero" class="pt-0">
        <div class="ml-auto">
          <h1>Hey, I'm Ryan</h1>
          <p class="text-base text-skin-muted antialiased">
            I’m a member of technical staff on Anthropic's security team.<br /> I
            like weird music, modern board games, podcasts, and oxford commas. In
            other news, I live in Brooklyn.
          </p>
        </div>
      </section>
      <!-- {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    } -->

      <section id="recent-posts">
        <div class="ml-auto max-w-lg">
          <h2>Recent posts</h2>
          <ul>
            {
              recentPosts.map(
                ({ data, slug }, index) =>
                  index < 4 && (
                    <Card
                      href={`/posts/${slug}/`}
                      frontmatter={data}
                      secHeading={false}
                    />
                  )
              )
            }
          </ul>
        </div>
        <div class="all-posts-btn-wrapper">
          <LinkButton href="/posts">
            All Posts
            <ArrowRight size={ICON_SIZE} className="mb-1" />
          </LinkButton>
        </div>
      </section>

      <section id="recent-posts">
        <div class="ml-auto max-w-lg">
          <h2>Around the web</h2>
          <ul>
            <li class="my-6">
              <LinkButton
                href="https://slack.engineering/catching-compromised-cookies/"
                target="__blank"
              >
                <h3 class="text-base font-bold decoration-dashed">
                  Catching Compromised Cookies
                </h3>
              </LinkButton>
              <p class="text-base text-skin-muted">
                We developed a system to detect compromised session cookies,
                protecting user data from unauthorized access. The approach uses
                a last access timestamp mechanism to identify cookie theft and
                employs sophisticated techniques to reduce false positives while
                maintaining performance at Slack's scale.
              </p>
              <span class="sr-only">Post published on:</span>
              <span
                class={`font-sans text-xs font-bold uppercase tracking-wide text-skin-muted`}
              >
                Slack Engineering Blog
              </span>
            </li>
            <li class="my-6">
              <LinkButton
                href="https://slideslive.com/38942575/canary-in-the-datamines-using-log-canary-to-find-pii"
                target="__blank"
              >
                <h3 class="text-base font-bold decoration-dashed">
                  Canary in the Datamines: Using Log Canary to find PII
                </h3>
              </LinkButton>
              <p class="text-base text-skin-muted">
                Why does sensitive data always seem to end up places it
                shouldn't? We won't answer that, but we will tell you how we
                combat the problem. Log Canary probes our product for places
                where PII might leak into logs, so that we can resolve the issue
                before real data is written. Join us as we explain the concept
                and lessons learned in development and deployment.
              </p>
              <span class="sr-only">Talk given at:</span>
              <span
                class={`font-sans text-xs font-bold uppercase tracking-wide text-skin-muted`}
              >
                LocoMocoSec 2020
              </span>
            </li>
            <li class="my-6">
              <LinkButton
                href="https://www.youtube.com/watch?v=YgsoBP2ahmU&t=6s"
                target="__blank"
              >
                <h3 class="text-base font-bold decoration-dashed">
                  10,000 Dependencies Under the Sea
                </h3>
              </LinkButton>
              <p class="text-base text-skin-muted">
                Come on our journey of creating scalable tooling and processes
                to automatically identify vulnerabilities in third-party
                libraries and handle the question of “ok we found this, who’s
                going to fix it?”
              </p>
              <span class="sr-only">Talk given at:</span>
              <span
                class={`font-sans text-xs font-bold uppercase tracking-wide text-skin-muted`}
              >
                DEF CON 28: AppSec Village
              </span>
            </li>
          </ul>
        </div>
      </section>
    </main>
  </div>

  <Footer />

  <style>
    html[data-theme="light"] #photo-bg {
      @apply bg-[#9e8e60] bg-gradient-to-r from-[#756a50] to-[#b19a74];
    }
    html[data-theme="dark"] #photo-bg {
      @apply bg-[#856657] bg-gradient-to-b from-[#3f3d3c] to-[#303531];
    }
    /* ===== Hero Section ===== */
    #hero {
      @apply max-w-lg pb-6;
    }
    #hero h1 {
      @apply inline-block text-3xl font-bold md:text-6xl;
    }
    #hero .rss-link {
      @apply mb-6;
    }
    #hero .rss-icon {
      @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
    }
    #hero p {
      @apply my-2;
    }
    .social-wrapper {
      @apply mt-4 flex flex-col sm:flex-row sm:items-center;
    }
    .social-links {
      @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
    }

    /* ===== Featured & Recent Posts Sections ===== */
    #featured,
    #recent-posts {
      @apply max-w-lg pb-6;
    }
    #featured h2,
    #recent-posts h2 {
      @apply text-lg font-semibold tracking-wide md:text-2xl;
    }
    .all-posts-btn-wrapper {
      @apply my-8 text-center;
    }
  </style>
</Layout>
